html, body{
    overflow-x: hidden;
    max-width: 100%
}
.header-nav{
    margin: 0 !important;
    padding: 0 !important;
    background:#00535A;
    position: fixed;
    z-index: 999;
}
.header nav{
    display: flex;
}
.header{
    max-width: 1200px;
    margin: 0 auto;
}
.header nav div.company-logo{
    flex-grow: 1
}
.header nav ul{
    margin: 0 !important;
}
.header nav div.company-logo, .header nav ul li{
    padding: 15px 5px;
    font-family: roboto, sans-serif;
    color:#fff
}
.header nav ul li{
    display: inline-block;
}
.header nav ul li a, .company-logo a{
    color: #fff;
    text-decoration: none;
}
.header nav ul li:hover a, .company-logo:hover a{
    text-decoration: none;
}
.landing_image_form_conatiner{
    height: 100vh;
}
.carrousel_image{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.booking-form{
    /* position: absolute;
    top: 75px; */
    width: 100%;
    /* right: 30px; */
}
.form{
    background: rgb(0,0,0,0.5);
    opacity: 0.8;
    max-width: 600px;
    margin: 0 auto;
}
.form form{
    max-width: 500px;
    width:90%;
    margin:10px auto;
}

.form form label{
    color: #fff !important;
}
.book_order_details{
    margin: 0 10px;
    padding: 65px 0px 0 0;
    min-height: 100vh;
}
.card_container{
    display: flex;
    justify-content: space-between;
    margin: 0px auto 10px auto;
    max-width: 800px;
    border: 1px solid #c3b3b3;
    border-radius: 4px;
}

.company_details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: lato, sans-serif;
    font-size:14px;
    font-weight: 700;
}

.company_details .company_name {
    font-size:18px;

}

.company_details:nth-child(2){

}

.company_details:nth-child(3){

}

.ride_price, .book_action{
    display: flex;
    align-items: center;
}

.book_action button{
    width:fit-content;
    padding: 5px 5px;
}

.c_trip_o_header{
    display: flex;
    /* margin-top:50px; */
}

.trip_headers{

}
.trip_headers_values{
 margin-left: 4rem;
}
.trip_headers_values p {
    font-family: talto sans-serif;
}
.trip_headers p {
    font-family: talto, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.header-title{
    font-family: talto, roboto, sans-serif;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.MuiFormControl-root-1{
    width: 100%;
}

.MuiFormGroup-root-5 {
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    width: 100%;
}
.MuiRadio-colorSecondary-16.MuiRadio-checked-13{
    color:'#1880f3' !important;
}
.MuiFormGroup-root-74{
    flex-direction: row !important
}
.MuiRadio-colorSecondary-84.MuiRadio-checked-81{
    color: #061250 !important;
}
@media screen and (max-width: 700px){
    .desktop-links{
        display: none;
    }
    .mobile-links{
        display: flex !important;

    }
    body{
        overflow-x: hidden;
    }
    .booking-form{
        position: unset;
    }
    .card_container{
        margin: 0 10px 10px 10px;
        flex-direction: column;
    }
    .car_image{
        width: 100% !important
    }
    .company_details:nth-child(2) {
        margin-left: 10px;
    }
    .ride_price{
        margin-left: 10px;
    }
    .book_action{
        justify-content: center;
        margin: 10px 0;
    }
    .book_order_details{
        margin: 0;
    }
    .card-frame{
        border: 1px solid #969191;
        border-radius: 4px;
    }
    .desktop-transaction-table-view{
        width: 90%;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
    }
    /* .mobile-view{
        display: flex !important;
    } */
    /* .desktop-view{
        display: none !important;
    } */
    .desktop-homepage{
        display: none !important;
    }
    .mobile-homepage{
        display: flex !important;
    }
    .page-footer{
        min-height: 50vh;
    }
    .form {
        /* background: #fff !important;
        opacity: 1 !important; */
        width: 80%;
    }
    .form form label{
        color: #000 !important;
    }
    .car-name-div-icon{
        flex-direction: column !important;
    }
    .p-margin{
        margin-top:40px !important;
    }
    .car-box{
        max-width: 70% !important;
    }
    .keys{
        flex-direction: row;
    /* align-items: center; */
        flex-wrap: wrap;
    }
    .modal-view{
        max-height: 90vh;
        overflow-y: auto;
    }
    .inner-modal{
        top: 5% !important;
    }
    .mobile-card{
        display: flex !important;
        flex-direction: column;
    }
    .desktop-card{
        display: none !important;
    }
}
.modal-body{
    padding: 0.5rem 1rem 0.5rem 1rem !important;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.5);
    z-index: 1000;
}
.modal-container{
    width: 100vw;
    height:100vh;
}

.inner-modal{  
    position: relative;
    top: 7%;
    /* left: 50%; */
    width: 100%;
}
.mobile-card-view{
    display:flex;
    flex: 1;
}
.modal-view{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 2px grey;
}
.modal-header{
    font-size: larger;
}
.modal-footer{
    display: flex;
    padding: 10px 0px;
    justify-content: flex-end;
}

.body-container{
    text-align: center;
}
.body-view-info{
    color: #000 !important;
    font-size: larger !important;
    font-weight: 600 !important;
}

.body-tag{
    /* color: #c1c106; */
    text-align: center;
}

.body-tag strong {

}

.view-actions{
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 0px;
}
.book-page-completed-contaiiner{
    max-width: 1000px;
    margin: 0 auto;
}
.book-success-status-container{
    text-align: center !important;
}
.book-success{
    color: #28a745;
    font-family: roboto, sans-serif, 'Times New Roman', Times, serif;
    margin: 10px 0px;
    font-size: 2rem;
}

.book-complete-download-button{
    text-align: right !important;
    margin: 10px 0px;
}

.desktop-transaction-table-view{
    
}
.page-footer p {
    color: #fff;
    font-size: 16px;
    font-family: roboto, sans-serif;
}
.page-footer p a {
    text-decoration: none;
    color: #fff !important
}
.page-footer p a:hover{
    text-decoration: none;
}
.book-completed-divider{
    font-size: 22px;
    text-align: center;
    font-family: roboto, sans-serif;
}

.page-footer{
    background: #00535A;
    padding: 20px 0px;
}

.c_details{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.c_details_row_one{
    text-align: center;
    margin: 10px 0 0 0;
    font-family: roboto, 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
}
.add-margin{
    margin: 10px;
}
.add-padding{
    padding-right: 5px;
}
.c_details_row_two{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 10px;
}

.car_capacity{
    display: flex;
    margin: 10px 0px;
}

span.seat_number{
    margin: 2px 10px 0px 10px;
}

.mark-feature{
    padding: 10px 0px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 27px;
}

.icon-container{
    background: #28a745;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 0px 5px;
    border-radius: 3px;
}

.feature{
    color: rgb(255, 255, 255);
    margin: 4px 5px 0px;
    font-size: 10px;
}

p.not-found{
    font-size: 30px;
    font-family: roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.car-name-div-icon{
    font-family: talto sans-serif;
    margin-bottom: 1rem;
    display: flex;
}

.car-name-div-icon span{
    margin-right: 10px;
}

.p-margin{
    margin-top: 13px;
}

.DayPickerInput{
    width: 100%;
}

.DayPickerInput input{
    width: 100%;
}
.car-seat{
    background-size: cover !important;
}
.car-container{

}

.car-layout{

}
.seat-numer{
    top: -20px;
    left: 9px;
    color: #2b2a2b;
    font-weight: 600;
    font-size: 18px;
}
.seat-next-to-sterring{
    margin-right: 20px;
}
.car-seat-selected{
    cursor: pointer;
}
.car-box{
    /* max-width: 104px; */
    width: fit-content;
    min-height: 100px;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid lightgrey;
    border-radius: 7px;

}
.rows{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.key-box{
    display: flex;
    margin-right: 10px;
    flex-basis: 170px;
}
.keys{
    display: flex;
    justify-content: center;
    padding: 15px 0px 0 0;
}
.key-box p{
    line-height: 29px;
    font-size: 14px;
}

.thmb-page{
    width: 100%;
    height: 60vh;
}

.thmb-page img{
    max-width: 100%;
    height: auto;
    width: 100%;
}

section.main{
    min-height: 60vh;
    width: 100%;
    background: #f3f3f3;
    padding: 10px 5px;
    margin-bottom: 30px;
}

h2.title{
    margin: 10px 0px;
    color: #198087;
    font-size: 36px;
    font-family: roboto, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.form-manin{
    width: 100%;
    display: flex;
    justify-content: center;
}

.book-form-main{
    display: flex;
    flex-basis: 500px;
    min-width: 60%;
    background: #fff;
    /* height: 400px; */
    margin: 0px 10px;
    box-shadow: 0 2px 5px 0 rgb(0,0,0,0.16);

}

.book-form-main .booking-form .col-sm-4{
    display: none !important;
}

.book-form-main .booking-form .form {
    opacity: 1 !important;
    background: none !important;
    padding: 10px 0px;
}

.book-form-main .booking-form .form label {
    color: #198087 !important;
}

.book-form-main .booking-form .form .btn-primary{
    background: #198087 !important;
    border-color: #198087 !important;
    width: 300px !important;
    box-shadow: 0 2px 4px 0 rgb(0,0,0,0.9) !important;;
}

 .DayPickerInput input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-check{
    margin-bottom: 10px;
  }

  .rd-features{
        /* border: 1px solid rgba(0, 0, 0, 0.49); */
    /* box-sizing: border-box; */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* border-radius: 5px; */
    width: 100%;
    /* padding: 0px 13px; */
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
.rd-t-view h2{
    font-size: 1rem !important;
}
  .rd-features p {
    font-family: roboto,'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #413D3D;
  }

  .ride-price-tag p{
    font-family: roboto, 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #413D3D;
    margin-top: 1rem;
  }
.book_order_details{
    background: #f3f3f3 !important;
}
  .mobile-card{
      background: #fff;
      box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.16);
      padding: 10px 5px;
      margin: 10px 10px;
  }
.ac-class{
    width: 60px;
    /* width: 100%; */
    text-align: center;
    /* width: fit-content; */
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 60px;
    padding: 0px 13px;
}
.rd-t-view{
    padding: 0 10px;
    flex:1;

}
.ride-price-tag{
    margin-top: 2rem;
}
.rd-t-view2{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    position: relative;
}

.view-seats-button{
    background: #198087 !important;
    border-color: #198087 !important;
    /* width: 50px !important; */
    box-shadow: 0 2px 4px 0 rgb(0,0,0,0.9) !important;
    cursor: pointer;
    width: fit-content;
    color: #fff;
    padding: 3px 5px;
    text-align: center;
    margin: 0 auto;
}

.modal-confirm-button{
    margin: 0 .25rem 0 0 !important;
}

.error-container{
    background:#ffc107;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-radius: 4px;
}